<!DOCTYPE html>
<html lang="hy">

<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Home Page</title>
    <meta name="Description" content="">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- header-->
    <header>
        <div class="middle-header">
            <div class="cnt">
                <div class="row flex-center-between">
                    <div class="col col-auto d-none">
                        <ul class="rigt-menu-main align-items-center">
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="img/icons/mob-menu.svg" id="offCanvas" class="hamburger d-none"
                                        alt="Open Menu">
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col col-auto">
                        <div class="logo-main">
                            <a href="index.html">
                                <img src="img/logo.png" alt="Armenian Carpet">
                            </a>
                        </div>
                    </div>
                    <div class="nav-offcanvas">
                        <div class="nav-offcanvas-menu">
                            <ul class="align-items-center">
                                <li class="active"><a href="index.html">Գլխավոր</a></li>
                                <li class="uWithSubmenu">
                                    <a href="#">2-րդ դասարան</a>
                                    <ul>
                                        <li>
                                            <a href="#">Վայրի Կենդանիներ</a>
                                        </li>
                                        <li>
                                            <a href="#">Դասագիրք</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="uWithSubmenu">
                                    <a href="#">3-րդ դասարան</a>
                                    <ul>
                                        <li>
                                            <a href="#">Վայրի Կենդանիներ</a>
                                        </li>
                                        <li>
                                            <a href="#">Դասագիրք</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="uWithSubmenu">
                                    <a href="#">4-րդ դասարան</a>
                                    <ul>
                                        <li>
                                            <a href="#">Վայրի Կենդանիներ</a>
                                        </li>
                                        <li>
                                            <a href="#">Դասագիրք</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="uWithSubmenu">
                                    <a href="javascript:void(0)">Իմանալ Ավելին</a>
                                    <ul>
                                        <li>
                                            <a href="#">Տեսահոլովակներ</a>
                                        </li>
                                        <li>
                                            <a href="#">Գիտելիքների Ստուգում</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="col col-auto">
                        <ul class="rigt-menu-main align-items-center">
                            <li>
                                <a href="contacts.html" class="button big">Կապ Մեզ Հետ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="offcanvas-overlay d-none"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- Main content -->
    <main id="content" role="main" class="">
        <section class="main-top" id="">

            <!-- Breadcrumbs -->
            <div class="bread-bg" style="background-image: url(./img/bg-page.jpg);">
                <div class="cnt">
                    <div id="breadcrumbs" class="anothers-bread">
                        <div class="tit-page">
                            <h1>2-րդ Դասարան</h1>
                            <p>Լորեմ Իպսումը տպագրության և տպագրական արդյունաբերության համար նախատեսված մոդելային տեքստ
                                է։ Սկսած 1500-ականներից՝ Լորեմ Իպսումը հանդիսացել է տպագրական</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs end -->

            <section class="section about-home-page" id="school-2">
                <div class="cnt">
                    <div class="row align-items-center two">
                        <div class="col col-2">
                            <div class="about-home-img">
                                <img src="img/vayri.jpg" alt="About">
                            </div>
                        </div>
                        <div class="col col-2">
                            <div class="about-home-desc">
                                <h2>Վայրի կենդանիներ</h2>
                                <p>Լորեմ Իպսումը տպագրության և տպագրական արդյունաբերության համար նախատեսված մոդելային
                                    տեքստ է։ Սկսած 1500-ականներից՝ Լորեմ Իպսումը հանդիսացել է տպագրական
                                    արդյունաբերության ստանդարտ մոդելային տեքստ, ինչը մի անհայտ տպագրիչի կողմից տարբեր
                                    տառատեսակների օրինակների գիրք ստեղծելու ջանքերի արդյունք է։ Լորեմ Իպսումը
                                    տպագրության և տպագրական արդյունաբերության համար նախատեսված մոդելային տեքստ է։ Սկսած
                                    1500-ականներից՝ Լորեմ Իպսումը հանդիսացել է տպագրական արդյունաբերության ստանդարտ
                                    մոդելային տեքստ, ինչը մի անհայտ տպագրիչի կողմից տարբեր տառատեսակների օրինակների գիրք
                                    ստեղծելու ջանքերի արդյունք է։ Լորեմ Իպսումը տպագրության և տպագրական
                                    արդյունաբերության համար նախատեսված մոդելային տեքստ է։ Սկսած 1500-ականներից՝ Լորեմ
                                    Իպսումը հանդիսացել է տպագրական արդյունաբերության ստանդարտ մոդելային տեքստ, ինչը մի
                                    անհայտ տպագրիչի կողմից տարբեր տառատեսակների օրինակների գիրք ստեղծելու ջանքերի
                                    արդյունք է։</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </section>
    </main>
    <!-- Main content end -->


    <!-- footer -->
    <footer>
        <div class="cnt">
            <div class="row">
                <div class="col col-auto">
                    <div class="align-items-center footer-top-links">
                        <ul class="fw_link br-left">
                            <li><a href="#">Գլխավոր</a></li>
                            <li><a href="#">Կապ</a></li>
                            <li><a href="#">Իմանալ ավելին</a></li>
                        </ul>
                        <ul class="fw_link br-left">
                            <li><a href="#">2-րդ դասարան</a></li>
                            <li><a href="#">3-րդ դասարան</a></li>
                            <li><a href="#">4-րդ դասարան</a></li>
                        </ul>
                    </div>
                    <div class="footer-bottom-links">
                        <ul class="align-items-center">
                            <li><a href="contact_us.html"><img src="img/icons/location.svg" alt="Location">13 Ալեք
                                    Մանուկյան փողոց, Երևան 0070</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-auto ml-auto no-md-auto">
                    <ul class="align-items-center call-list">
                        <li><img src="img/icons/phone.svg" alt="Կապ"><a href="#"><b>(+374 10) 59 70 49</b></a></li>
                    </ul>
                    <ul class="align-items-center social-list">
                        <li>
                            <a href="#"><img src="img/icons/facebook.svg" alt="facebook"></a>
                        </li>

                    </ul>
                    <ul class="copyright">
                        <li><b>© 2022 || բոլոր իրավունքները պաշտպանված են</b></li>
                    </ul>
                </div>
            </div>


        </div>
    </footer>
    <!-- footer end -->



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>